<template name="pkg">
<button class="secure-wipe">Secure Wipe</button>
<h1>Retrieval Codes</h1>
{{#if pkg.retrievalCodes.length }}
<ul>
  {{#each pkg.retrievalCodes }}
  <li>
  <a href="{{ url }}">{{ url }}</a>
  <br>
  {{#if consumed}}
  <span>Consumed at {{consumedAt}} by {{consumerIp}}.</span>
  {{ else }}
  <span>Not Consumed</span>
  <button class="revoke">Revoke</button>
  {{/if}}
  </li>
  {{/each}}
</ul>
{{else}}
No codes yet...
{{/if}}
<button class="generate">Generate</button>
</template>
