<template name="pkg">
<button class="generate">Generate Code</button>
<a href="{{ wipeURL }}">Secure Wipe</a>
<h1>Retrieval Codes</h1>
{{#if pkg.retrievalCodes.length }}
<ul>
  {{#each pkg.retrievalCodes }}
  <li>
  <a href="{{ retrievalURL }}">{{ retrievalURL }}</a>
  <br>
  {{#if consumed}}
  <span>Consumed at {{consumedAt}} by {{consumerIp}}.</span>
  {{ else }}
  <span>Not Consumed</span>
  <button class="revoke">Revoke</button>
  {{/if}}
  </li>
  {{/each}}
</ul>
{{else}}
No codes yet...
{{/if}}
</template>
